[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sagemaker = "*"
boto3 = "*"
botocore = "*"
protobuf = "*"
tensorflow = "==1.15"

[dev-packages]

[requires]
python_version = "3.7"
